.body{
    margin: 0%;
}
.webstudio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style-type: none;
    color: #212121;
    text-decoration: none;
    text-decoration-line: none;
}
.web{
    color: #2196F3;
    text-decoration: none;
    text-decoration-line: none;
}
.web2{
    color: #f2f8f7;
    text-decoration: none;
    text-decoration-line: none;
}
.active::after{
    content: "";
    display: block;
    border: 1px solid #2196F3;
}
.agencja{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms;
}
    .agencja:hover,
    .portfolio:hover,
    .kontakt:hover,
    .tel-mail-icon-item:hover,
    .mail:hover,
    .tel:hover{
        fill: #2196F3;
        color: #2196F3;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.list{
    list-style-type: none;
}
.portfolio{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms;
}
.kontakt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms;
}
.mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms;
}
.tel{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: color 250ms;
}
.tel-mail-icon{
    width: 16px;
    height: 12px;
    transition: fill 250ms;
}
.tel-icon{
    width: 10px;
    height: 16px;
    transition: fill 250ms;
}
.tel-mail-icon-item{
    transition: fill 250ms;
}
.flex-box-header-kontakt{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: #F5F4FA;
    display: inline-block;
    padding: 6px 22px;
    color: #212121;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms, color 250ms, box-shadow 250ms;
}
.btn:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    text-decoration: none;
    margin-left: 24px;
}
.project-title:hover,
.site-type:hover {
    text-decoration: underline;
    text-decoration-color: #2196F3;
}
.site-type{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    text-decoration: none;
    margin-left: 24px;
}
.address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.tel-footer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.mail-footer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.button{
    background-color: #2F303A;
    min-height: 600px;
    margin: auto;
    max-width: 1600px;
    justify-content: center;
}
.photo-efect{
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/img.bmp.jpg");
}
.caption{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 200px;
    margin: 0px auto;
}
.btn-main-page{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    padding: 0%;
    margin-left: 500px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
}
.btn-main-page:hover{
    cursor: pointer;
}
.box-icon-lorem-ipsum{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-lorem-ipsum{
    width: 70px;
    height: 70px;
    justify-content: center;
}
.lorem-ipsum-style-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.lorem-ipsum-style-text-Opis{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    list-style-type: none;
}
.box-work{
    position: relative;
}
.text-box-work{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 225px;
}
.style-tytuł{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 50px;
}
.flex-box-production-photo{
    margin: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.style-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.style-department{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.flex-box-header-nav{
    list-style-type: none;
    display: flex;
}
.menu-nav{
    margin-left: 23px;
    margin-right: 23px;
}

.flex-box-lorem-ipsum{
    height: 251px;
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
    justify-content: space-between;
    margin-top: 94px;
}

.flex-box-production{
    height: 386px;
    margin-top: 94px;
    margin-bottom: 94px;
}
.tlo-nasz-zespol{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.tlo-Nasi-klienci{
    padding-top: 94px;
    padding-bottom: 94px;
}
.flex-box-sztat-tytul{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 50px;
}
.flex-box-sztat-photo{
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.card-photo1{
    background-color: #FFFFFF;
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.flex-box-nasi-klienci{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    margin: 0px;
    box-sizing: content-box;
}
.card-nasi-clienci{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    cursor: pointer;
    box-sizing: border-box;
    transition: border 250ms;
}
.card-nasi-clienci:hover{
    border: 1px solid #2196F3;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-card-nasi-clienti:hover,
.icon-card-nasi-clienti:focus,
.icon-card-nasi-clienti2:hover,
.icon-card-nasi-clienti2:focus,
.icon-card-nasi-clienti3:hover,
.icon-card-nasi-clienti3:focus,
.icon-card-nasi-clienti4:hover,
.icon-card-nasi-clienti4:focus,
.icon-card-nasi-clienti5:hover,
.icon-card-nasi-clienti5:focus,
.icon-card-nasi-clienti6:hover,
.icon-card-nasi-clienti6:focus{
    fill: rgb(33, 150, 243);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-card-nasi-clienti{
    fill: rgb(175, 177, 184);
    width: 41px;
    height: 48px;
    transition: fill 250ms;
}
.icon-card-nasi-clienti2{
    fill: rgb(175, 177, 184);
    width: 40px;
    height: 53px;
    transition: fill 250ms;
}
.icon-card-nasi-clienti3{
    fill: rgb(175, 177, 184);
    width: 45px;
    height: 42px;
    transition: fill 250ms;
}
.icon-card-nasi-clienti4{
    fill: rgb(175, 177, 184);
    width: 85px;
    height: 42px;
    transition: fill 250ms;
}
.icon-card-nasi-clienti5{
    fill: rgb(175, 177, 184);
    width: 63px;
    height: 47px;
    transition: fill 250ms;
}
.icon-card-nasi-clienti6{
    fill: rgb(175, 177, 184);
    width: 94px;
    height: 45px;
    transition: fill 250ms;
}
.fb-figure{
    margin: 0px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 30px;
    padding: 0%;
}
.social-list{
    display: flex;
    align-items: center;
    fill: #757575;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    transition: background-color 250ms;
}
.social-link:hover,
.social-link:focus{
    fill: #FFFFFF;
    background-color: #2196F3;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon{
    width: 20px;
    height: 20px;
}
.footer{
    background-color: #2F303A;
    height: 252px;
    padding: 60px;
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: column;
    box-sizing: border-box;
}
.footer > .container{
    display: flex;
    align-items: center;
}
.social-section-footer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    margin-left: 70px;
}
.flex-box-footer-webstudio{
    width: 145px;
    height: 31px;
}
.flex-box-adres{
    padding-inline-start: 0px;
    list-style-type: none;
}
.flex-box-adres-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.social-icon-footer{
    display: flex;
    margin-left: -10px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
}
.social-tityl-footer{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    margin-top: 0%;
}
.social-link-footer{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 30px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms;
}
.social-link-footer:hover{
    background-color: #2196F3 ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer-linc{
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.flex-box-portfolio{
    margin-top: 94px;
    margin-bottom: 64px;
}
.flex-box-filter{
    width: 572px;
    height: 54px;
    margin: 0px auto 34px;
    display: flex;
    justify-content: space-between;
}
.flex-box-card-set{
    margin: 0px;
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-bg{
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
    margin-bottom: 30px;
    transition: box-shadow 250ms;
}
.container-bg:hover{
    cursor: pointer;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.img-box{
    position: relative;
    width: 370px;
    height: 294px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
 .img-box:hover .img-overlay-hover {
    transform: translatey(0);
}
.img-overlay-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2196F3;
    transform: translatey(100%);
    transition: transform 250ms ease;
}
.overlay-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: inline-block;
    width: 301px;
    height: 196px;
    margin-left: 24px;
    margin-top: 49px;
}
.flex-box-card{
    width: 370px;
    height: 404px;
    margin: 0px;
}
.container{
    margin: 0px auto;
    width: 1200px;
}
.flex-box-header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.border-line{
    border-bottom: 1px solid #ECECEC;
}


.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal{
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
.close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.icon-close-btn{
    width: 18px;
    height: 18px;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.klient-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 40px;
    margin-bottom: 2px;
}
.klient-list-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin: 10px 0px 0px 0px;

}
.klien-list-box{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}
.klient-list-input{
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    padding-left: 40px;
}
.klient-svg-icon{
    width: 18px;
    height: 18px;
    position: fixed;
    margin-top: 15px;
    margin-left: 13px;
}
.klient-list-textarea{
    width: 448px;
    height: 120px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}
input:focus,
textarea:focus{
    outline: none;
    border-color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
label:focus-within{
    fill: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.klient-policy{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.modal-form-policy-text::before{
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border: 1px solid#212121;
}
.modal-form-policy:checked + .modal-form-policy-text::before{
    border: none;
    background-image: url(../images/vector.svg);
    background-color: #2196F3;
    border: 1px solid#FFFFFF;
}
.visually-hidden{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.klient-policy-plik{
    color: #2196F3;
}
.klient-button{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 10px;
}
